**.sublime-workspace
**.sublime-project
**.pyo
**.pyc
**.smi
**.prof
**~
**.cache
.coverage
**._*
**.egg-info
**.DS_Store
**__pycache__/
archive
inbox
errors
jobdirparser.log
jobdirs
/djangochem/djangochem/settings/denn.py
/djangochem/djangochem/settings/denntest.py
.idea/
blocks/__pycache__/
confgen/__pycache__/
djangochem/dbmover/__pycache__/
djangochem/dbmover/management/__pycache__/
djangochem/dbmover/migrations/__pycache__/
djangochem/djangochem/__pycache__/
djangochem/djangochem/settings/__pycache__/
djangochem/jobs/__pycache__/
djangochem/jobs/migrations/__pycache__/
djangochem/molgen/__pycache__/
djangochem/molgen/migrations/__pycache__/
djangochem/notebooks/denn/.ipynb_checkpoints/
djangochem/notebooks/examples/.ipynb_checkpoints/
djangochem/notebooks/examples/notebooks/
djangochem/notebooks/examples/output.csv
djangochem/pgmols/__pycache__/
djangochem/pgmols/migrations/__pycache__/
djangochem/restapi/__pycache__/
djangochem/restapi/migrations/__pycache__/
djangochem/sf_acenes_phz.html
djangochem/sf_bench.html
djangochem/wcgrid/__pycache__/
djangochem/wcgrid/migrations/__pycache__/
/djangochem/djangochem/settings/denn_molgen.py
/djangochem/djangochem/settings/denn_test_clone.py
!/chemconfigs/conformer_clean_dftb/smiles.smi
!/chemconfigs/conformer/smiles.smi
/denn/rc_reaxys_conn.txt
/djangochem/djangochem/settings/denn_tests.py
!/environments/a2g2-docker/*
!/environments/a2g2-docker/docker-compose.yml
!/environments/postgres-docker
!/environments/postgres-docker/*
!/chemconfigs_singularity/conformer_clean_dftb/test/MZAHODUOTRVARY-UHFFFAOYNA-N.smi
